/* General */

* {
  font-family: "Domine", serif; /*Franklink */
}

/* header */
.header {
  height: 36px;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;

  color: #333333;
  padding: 4px 15px 2px 15px;

  z-index: 10;
}

.header div {
  transition: all 0.6s ease 0s;
}

.wrapper {
  max-width: 1605px;
  min-width: 1000px;
  width: auto;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.header-left ul {
  padding-top: 1px;
  list-style: none;
}

.header-li {
  float: left;
  display: list-item;
  margin: 10px 10px;
}

.header-section {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.header-center {
  width: 100%;
  position: absolute;
}

.header-center span {
  text-align: center;
  display: block;
}

.header-center span svg {
  height: 26px;
  margin: 6px auto 0;
}

.header-right {
  float: right;
  padding-top: 5px;
  /*
  position: absolute;
  right: 10px;
  top: 0;
  */
}

.header-right button {
  border-radius: 3px;
  cursor: pointer;
  font-family: "Libre Franklin";
  transition: ease 0.6s;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;
  text-transform: uppercase;
}

/* article */

.main-article {
  margin-top: 80px;
}

.main-article h1 {
  width: 33%;
  padding-right: 17%;
  margin: 20px auto;
  font-style: italic;
  font-size: 35px;
  line-height: 38px;
  font-weight: 700;
}

.main-article figcaption {
  width: 73%;
}
/* Paragraph text */
.paragraph-text {
  width: 50%;
  margin: 0 auto;
}

.paragraph-text p {
  display: block;
  clear: both;
  margin: 0px 0px 15px 0px;
  font-family: "Domine", serif;
  font-size: 20px;
  line-height: 30px;
}

figure {
  width: 70%;
  margin: 0 auto;
}

figure img {
  margin-top: 20px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  margin-top: 5px;
}
.figcap1 {
  color: #666666;
  font-size: 13px;
  line-height: 20px;
}

.figcap2 {
  color: #888888;
  font-size: 12px;
}

/* author */

.author {
  width: 50%;
  margin: 30px auto;
  font-weight: 700;
  color: #333333;
}

.author a {
  text-decoration: underline;
  color: #333333;
}

.social {
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
}

#social-date {
  float: left;
}
.social li {
  display: inline-block;
}

.social-buttons {
  float: right;
  margin-bottom: 20px;
}

.social-buttons li {
  margin-right: 5px;
}

.social-buttons div {
  width: 25px;
  background: #dadada;
  border-radius: 50%;
  height: 25px;
}

.social-buttons i {
  position: relative;
  padding-top: 5px;
  padding-left: 5px;
}

.fa-facebook-f {
  padding-left: 7px !important;
}

/* asides */
.sign-up {
  position: absolute;
  left: 80%;
  top: 170%;
  width: 15%;
}

.sign-up h2 {
  font-family: "Libre Franklin";
  line-height: 24px;
}

.sign-up p {
  font-family: "Libre Franklin";
  font-weight: 300;
  line-height: 20px;
  font-size: 12px;
  margin: 5px 0;
}

.sign-up button {
  border-radius: 3px;
  cursor: pointer;
  font-family: "Libre Franklin";
  transition: ease 0.6s;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;
  text-transform: uppercase;
  width: 100%;
}

.editors-pick {
  position: absolute;
  left: 80%;
  top: 265%;
  width: 20%;
}

/*
.editors-pick h2 {
  float: left;
  position: relative;
  width: 100%;
} */

.editors-pick hr {
  width: 75%;
  margin: 15px 0;
  position: relative;
}

.editors-pick figure {
  margin: 0;
}

.editors-pick figure img {
  float: left;
  position: relative;
  width: 50%;
  margin: 10px 0;
}

.editors-pick figure figcaption {
  float: right;
  position: relative;
  width: 50%;
  font-size: 12px;
}

.editors-pick figure h2 {
  float: right;
  position: relative;
  width: 50%;
}

/* something else */

.theory {
  width: 70%;
  margin: 20px auto;
  position: relative;
}

.theory h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 15px;
}

.theory img {
  width: 100%;
}

.theory-info {
  width: 24%;
  float: left;
  margin-right: 1%;
  font-family: "Libre Franklin";
  line-height: 16px;
}

.theory-info p {
  font-size: 12px;
  font-weight: 300;
  font-family: "Libre Franklin";
}

.theory-info span {
  font-size: 12px;
  font-weight: 700;
  margin-right: 3px;
  font-family: "Libre Franklin";
}

.theory-summary {
  color: #666;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 14px;
}

#theory-info-row-1 {
  position: absolute;
  top: 250px;
}
#theory-info-row-2 {
  position: absolute;
  top: 550px;
  margin-bottom: 30px;
}
